.body {
    position: relative;
    background-color: #eeee;
}

.navbar {
    font-family: 'Homemade Apple', cursive;
}

.container {
    position: relative;
    border-radius: 10px;
    border: 3px solid black;
    margin: 20px auto;
    height: 100px;
    width: 80%;
    top: 70px;
    background: linear-gradient(35deg, #ccffff, #ffcccc);
}
 
.container:hover {
    transform: scale(1.01);
    background: #ccffff;
}

.navbar-collapse {
    font-family: 'Averia Serif Libre', cursive;
}

.navbar-text {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}